* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  width: 100%;
  background-color: hsl(217, 54%, 11%);
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.card {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: auto;
  border-radius: 10px;
  background-color: hsl(216, 50%, 16%);
  padding: 20px;
}

.card__image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.card__image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.card__image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #00fff8;
  opacity: 0;
  transition: 0.3s ease;
  border-radius: 1rem;
}

.card__image-overlay:hover {
  opacity: 0.55;
}

.card__image-overlay-icon {
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 1;
}

.card__content {
  /* margin: 20px auto; */
  color: #8bacd9;
}

.card__title {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: 1.5rem;
  margin: 20px 0;
}

.card__text--highlight:hover {
  cursor: pointer;
  color: #00fff8;
}

.card__description {
  font-size: 1.1rem;
  font-weight: 300;
  margin: 1rem 0;
}

.card__meta-wrapper {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.card__icon {
  padding-right: 0.4rem;
}

.card__price,
.card__time {
  display: flex;
  align-items: center;
}

.card__price {
  color: #00fff8;
  font-weight: 600;
}

.card__author-wrapper {
  padding: 15px 0;
  border-top: 1px solid hsl(215, 32%, 27%);
  display: flex;
  align-items: center;
}

.card__avatar {
  width: 50px;
  border: 1px solid white;
  border-radius: 50%;
}

.card__author {
  padding: 0 5px;
}

.card__author-name {
  font-weight: 600;
  color: white;
  margin-left: 0.3rem;
}

.attribution {
  width: 100%;
  color: aliceblue;
  text-align: center;
  font-size: 0.75rem;
  position: fixed;
  z-index: -1;
  bottom: 10px;
}

/* Mobile */
@media only screen and (max-width: 400px) {
  .card {
    width: 90%;
    max-width: 400px;
    margin: auto;
    padding: 15px;
  }
}
